@page "/taskEdit/{TaskId}"
@using global::TodoList.Model
@using global::TodoList.Model.Enums
@using global::TodoListBlazorWasm.Services
@using global::TodoListBlazorWasm.Component
@inject ITaskApiClient TaskApiClient;
@inject NavigationManager NavigationManager;
@inject IToastService ToastService
@if (Task == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <h3>Task Edit: @Task.Name</h3>
    <EditForm Model="Task" OnValidSubmit="SubmitTask">
        <!-- Sử dụng OnValidSubmit -->
        <div class="form-group">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <label for="Name">Name</label>
            <InputText class="form-control" @bind-Value="Task.Name"></InputText>
            <ValidationMessage For="()=>Task.Name"></ValidationMessage>
            <small id="nameHelp" class="form-text text-muted">Please enter task title here</small>
        </div>

        <div class="form-group">
            <label for="Priority">Priority</label>
            <InputSelect class="form-control" @bind-Value="Task.Priority">
                @foreach (var item in Enum.GetValues(typeof(Priority)))
                {
                    <option value="@item">@item.ToString()</option>
                }
            </InputSelect>
            <small id="priorityHelp" class="form-text text-muted">Choose a priority level</small>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </EditForm>
}


@code {
    [Parameter]
    public string TaskId { set; get; }

    private TaskUpdateRequest Task;

    protected async override Task OnInitializedAsync()
    {
        var taskDto = await TaskApiClient.GetTaskDetail(TaskId);
        Task = new TaskUpdateRequest();
        Task.Name = taskDto.NameType;
        taskDto.Priority = taskDto.Priority;
    }

    private async Task SubmitTask(EditContext context)
    {
        var result = await TaskApiClient.UpdateTask(Guid.Parse(TaskId), Task);
        if (result)
        {
            ToastService.ShowSuccess($"{Task.Name} has been updated successfully.");
            NavigationManager.NavigateTo("/todoList");
        }
        else
        {
            ToastService.ShowError($"An error occurred in progress. Please contact to administrator.");

        }
    }
}